@mixin buttonWithMode($modifierColor, $hoverColor) {
  border: 0;

  margin-left: 3px;
  margin-right: 3px;

  background: transparent;
  color: $text-black;
  cursor: pointer;
  display: inline-block;

  &:focus {
    border: 0;
    outline: 1px solid $modifierColor;
  }

  &:hover {
    color: $hoverColor;
  }

  &-action {
    &:active {
      color: $modifierColor;
    }
  }

}

@mixin paddingSide($value) {
  padding: 0 $value;
}