$color-gray-light: #e5e5e5;
$main-outline: #1a73e8;
$border-color-main: #DADCE0;
$border-color-darken: #C0C0C0;
$border-color-lighten: #E2E3E3;
$active-green: #188038;
$active-green-lighten: #e6f4ea;
$active-blue: #1A73E8;

//backhrounds
$bg-light: cornsilk;
$main-bg-ceil-first: #F8F9FA;
$bg-dasboard-header: #F1F3F4;

//font params
$text-color: rgba(0,0,0, .7);
$text-black: black;

//values for animations
$transition-delay: .2s;

// common params
$header-height: 70px;
$toolbar-height: 45px;
$formula-height: 45px;
$formula-height: 40px;

$min-height-row: 24px;
$min-width-ceil: 80px;
$width-ceil: 40px;
$height-ceil: 30px;