.dashboard {
  position: relative;

  .container-view {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }


  &__header {
    text-align: center;
  }

  &__actions {
    background: $bg-dasboard-header;
    padding: 25px;
  }
}

.actions-db {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.actions-db__block {
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $border-color-main;
  border-radius: 14px;

  cursor: pointer;

  &:hover {
    border-color: $active-green;

    .db-action_create {
      color: $active-green;
    }
  }

  .db-action_create {
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


}

.db-table {
   &__header,
   &__row{
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 100%;
     padding: 10px;
     font-size: 1rem;

     cursor: pointer;
   }

  .db-table__column-1 {
    min-width: 300px;
    flex: 1 0 0;
    margin-right: 15px;
    max-width: 600px;
    padding: 5px 25px 5px 5px;
  }

  .ceil-db {
   padding: 5px;
    min-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    span {
      display: block;

      &:focus {
        outline: none;
      }
    }
  }



  &__column-end-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 350px;
  }

  &__column-2 {
    text-align: right;
  }

  &__column-3 {
    text-align: right;
    margin-left: 25px;
  }

  .row-db {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid transparent;
    transition: all ease $transition-delay;
    border-radius: 25px;

    &:hover {
      background-color: #e6f4ea;
      transition: all ease $transition-delay;
    }
  }
}

