.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include paddingSide(25px);


  background: $bg-light;

  &_top-absolute {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: $header-height;
  }
}