.table {
  max-width: 100%;
  height: 100%;
  padding-bottom: 2px;
  height: auto;
  overflow-x: auto;
  overflow-scrolling: auto;

  &_absolute-top {
    position: absolute;
    top: $header-height + $toolbar-height + $formula-height;
    left: 0;
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: $min-height-row;
  height: $height-ceil;
  width: 100%;

  .ceil {
    padding: 5px;
    line-height: $min-height-row;
    height: 100%;
    border: 1px solid $border-color-lighten;
    border-left: 0;
    border-top: 0;
    white-space: nowrap;

    &:focus {
      outline: none;
    }

    &.selected {
      outline: 2px solid $active-blue;
    }
  }

  .first-empty {
    min-width: $width-ceil;

    background: $main-bg-ceil-first;

    border: 1px solid $border-color-darken;
    border-top: 0;
    height: 100%;
  }

  .ceil_width {
    min-width: $min-width-ceil;
  }

  .ceil_head {
    text-align: center;
    background: $main-bg-ceil-first;
    width: 100%;
    height: 100%;

    border: 1px solid $border-color-darken;
    border-top: 0;
    border-left: 0;
  }

  .columns {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
  }

  .row__info {
    height: 100%;
    min-width: $width-ceil;


    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid $border-color-darken;
    border-top: 0;
  }

  .row__data {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
  }
}