.toolbar {
  display: flex;
  align-items: center;

  border-top: 1px solid $border-color-main;
  border-bottom: 1px solid $border-color-main;

  @include paddingSide(25px);
}

.toolbar_absolute-top {
  position: absolute;
  top: $header-height;
  left: 0;
  right: 0;
  bottom: 0;
  height: $toolbar-height;
}