.formula {
  display: flex;
  align-items: center;
  height: $formula-height;

  border-bottom: 1px solid $border-color-main;

  &_absolute-top {
    position: absolute;
    top: $header-height + $toolbar-height;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__info {
    font-size: 16px;
    color: $text-color;
    opacity: .55;
    width: $width-ceil;
    font-style: italic;
    height: $formula-height;
    border-right: 1px solid $border-color-main;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__input {
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 100%;
    height: 100%;
  }
}

