@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "assets/materialIcon";

@import "./helpers/variables";
@import "./helpers/mixins";

//Primitives
@import "./primitives/inputs";
@import "./primitives/buttons";
@import "./primitives/links";

//Sections
@import "sections/header";
@import "sections/toolbar";
@import "sections/formula";
@import "sections/table";
@import "sections/dasboard";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 12px;
  font-family: "Roboto Light", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

.excel {
  position: relative;
  min-width: 100%;
  height: 100%;
}