.input {
  font-size: 14px;
  padding: 5px 12px;
  border: 2px solid transparent;
  border-radius: 5px;
  outline: none;
  color: $text-color;
  &_enter-main {
    transition: all ease $transition-delay;
    &:hover {
      border: 2px solid $color-gray-light;
      transition: all ease $transition-delay;
    }

    &:focus {
      border: 2px solid $main-outline;
      transition: all ease $transition-delay;
    }
  }
}